<!-- IMPORT MODULE DETAIL -->
<!-- 

	Module : 	VideoList
	
	Links : 	VideoEdit
					/videos/{id}
.				
	
	Nesteds : 	
				
-->
<!-- /IMPORT MODULE DETAIL -->
<div ng-controller="VideoListController">
	
	<h1>VideoList</h1>
	
	<!-- SEARCH FORM -->
	<div class="well">
	    <form name="form_search" class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<label for="Name">Name</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.Name" class="form-control" name="Name" id="Name" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="Url">Url</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.Url" class="form-control" name="Url" id="Url" >
				</div>
			</div>
		</form>
	</div>
	
	<!-- TABLE -->
	<table class="table table-condensed table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>_id</th>
				<th>Name</th>
				<th>Url</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list | filter: {  Name:search.Name,  Url:search.Url,  }">
				<td ng-bind="item._id" ng-link="/videos/{{item._id}}"></td>
				<td ng-bind="item.Name"></td>
				<td ng-bind="item.Url"></td>
			</tr>
		</tbody>
	</table>
	
	<div class="mb-20" ng-if="list.$resolved && (list | filter :{   Name:search.Name,  Url:search.Url,  }).length == 0">
        <b>No result found</b>
    </div>

	<!-- BUTTON -->
	<button class="btn btn-primary" ng-link="/videos/new">New</button>
	
</div>